.myLibraryList {
  display: flex;
  gap: 21px;
}

.myLibraryItemImg {
  object-fit: cover;
  height: 208px;
  width: 137px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.myLibraryItemName {
  max-width: 95px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

.myLibraryItemAuthor {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-light-grey);
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 1px solid rgba(232, 80, 80, 0.1);
  border-radius: 50%;
  background-color: rgba(232, 80, 80, 0.2);
}

.deleteIcon {
  fill: transparent;
  stroke: #e85050;
}

.myLibraryStubIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 208px;
  width: 137px;
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: var(--color-grey);
}

.myLibraryStubIcon {
  width: 111px;
  height: 72px;
  fill: var(--color-light-grey);
}

@media screen and (min-width: 768px) {
  .myLibraryList {
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .myLibraryList {
    column-gap: 20px;
  }
}
