.addBookForm {
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 20px;
}

.addBookLabel {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--color-white);
  margin: 0 0 8px 14px;
}

@media screen and (min-width: 768px) {
  .addBookForm {
    margin-bottom: 0;
  }
  .addBookLabel {
    font-size: 14px;
    line-height: 1.28571;
  }
}

@media screen and (min-width: 1280px) {
  .addBookForm {
    margin-bottom: 40px;
  }
}
