.myLibraryHeaderWrapper {
  display: flex;
  justify-content: space-between;
}

.ownBookNotEmpty {
  margin-bottom: 14px;
}

.myLibraryTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color-white);
}
