.wrapper {
  width: 100%;
  border-radius: 12px;
  padding: 20px;
  background-color: var(--color-grey);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    padding: 26px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .booksQuoteWrapper {
    padding: 15px 20px;
  }
}
