.addBookForm {
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .addBookForm {
    margin-bottom: 0;
  }
}
