.wrapper {
  height: 100%;
  max-width: 335px;
  border-radius: 30px;
  background: var(--color-dark-grey);
}

.authWrapper {
  padding: 20px 20px 40px 20px;
}

.phoneWrapper {
  display: flex;
  justify-content: center;
  align-items: end;
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 704px;
  }
  .authWrapper {
    padding: 40px 168px 214px 64px;
  }
}

@media screen and (min-width: 1280px) {
  .authWrapper {
    padding: 40px 64px;
  }
}
