.recommendedHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.recommendedTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .recommendedHeader {
    margin-bottom: 20px;
  }
  .recommendedTitle {
    font-size: 24px;
    line-height: 1.14286;
  }
}
