.buttonsWrapper {
  display: flex;
  gap: 8px;
}

.leftButton,
.rightButton {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(249, 249, 249, 0.2);
  background-color: transparent;
}

.recommendedIcon {
  fill: transparent;
}
.disable {
  stroke: rgba(249, 249, 249, 0.2);
}
.active {
  stroke: var(--color-white);
}
