.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(20, 20, 20, 0.6);
  z-index: 10000;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid rgba(104, 104, 104, 0.2);
  border-radius: 12px;
  background-color: var(--color-dark-grey);
}

.recommendedBookDescriptionModal,
.readingBookDescriptionModal {
  padding: 40px;
  max-width: 335px;
}

.finishReadingBookDescriptionModal {
  max-width: 335px;
  padding: 60px 46px;
}

.createdCategoryModal {
  padding: 50px 46px;
  max-width: 335px;
}

.modalCloseBtn {
  position: absolute;
  top: 16px;
  background-color: transparent;
}

.recommendedBookDescriptionBtn,
.readingBookDescriptionBtn {
  right: 16px;
}

.createdCategoryBtn,
.finishReadingBookDescriptionBtn {
  right: 12px;
}

.closeIcon {
  fill: transparent;
  stroke: var(--color-white);
}

@media screen and (min-width: 768px) {
  .recommendedBookDescriptionModal,
  .readingBookDescriptionModal {
    padding: 50px;
    max-width: 500px;
  }
  .finishReadingBookDescriptionModal {
    padding: 50px;
    max-width: 342px;
  }
  .createdCategoryBtn {
    max-width: 342px;
    right: 16px;
  }
}
